
  
<div id="header" class="container">
  <h1 class="text-center">
    ffixv item search
  </h1>
</div>

  
  
<div id="searchBox" class="container">
  <div class="searchBox">
    <div class="card bg-warning">
      <h5>Search</h5>
      <div id="input-block">
        <div class="row">
          <div class="col-sm-6" >
            <input type="text" class="form-control ">
          </div>

          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Search <i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div> 
      </div>
      
    </div>  
  </div>
</div>


<div id="resultListing" class="container">

    <h4>Added item list</h4>
    

      <div class="card bg-warning">
        <div class="row">
            <div class="col-sm-4">placeholder</div>
            <div class="col-sm-4">placeholder</div>
            <div class="col-sm-4">placeholder</div>
        </div>
      </div>

    
</div>


